<h2>Привет, {{user}}</h2>
<p>Тренер {{coach}} на коротого вы подписаны, создал новую тренировку:
    {{workout.name}}
     Уровень пользователя, на которого рассчитана тренировка: {{workout.level}},
     Тип тренировки: {{workout.type}},
     Длительность тренировки: {{workout.timeOfTraining}},
     Цена: {{workout.price}},
     Количество калорий: {{workout.caloriesToSpend}},
     Описание: {{workout.description}},
     Пол пользователя для которого предназначена тренировка: {{workout.gender}}
     </p>
